<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Hullabalook Technical Challenge</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <div class="title" id="title">
      {{ header }}
    <div class="subtitle">
      {{ text }}
    </div>
    </div>
    <div id="app">

      <div class="controls">
        <button class="start" v-if="!isActive" @click="start">Take the quiz</button>
        <button class="stop" v-if="isActive" @click="stop">Stop</button>
        <div class="counter" v-if="isActive">{{ seconds }}</div>
      </div>

      <div class="game" id="game">
        <tile
          v-for="item in images"
          v-bind:image="item"
          v-bind:src="item.url"

         ></tile>

        <!-- <tile name="A" @tile-clicked="handleTileClick"></tile>
        <tile name="B" @tile-clicked="handleTileClick"></tile>
        <tile name="C" @tile-clicked="handleTileClick"></tile>
        <tile name="D" @tile-clicked="handleTileClick"></tile> -->

      </div>

      <div id="brand-tiles">
      <brand-tile
        v-for="brandName in brands"
        v-bind:brand="brandName"
        v-bind:key="brandName.id"
      ></brand-tile>
    </div>

      <div class="feedback">
        <span>{{ tilesClicked }}</span>
      </div>
    </div>


    <script src="js/title.js"></script>
    <script src="js/tile.js"></script>
    <script src="js/brands.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
